# Mac, Window System Files GitIgnore
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Eclipse Configuration Files GitIgnore
.metadata
/bin/
/bin/**/*
target/
/target/
/target/**/*
.settings/
/.settings/
/.settings/**/*
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
.classpath
.factorypath
.buildpath
.target
.tern-project
.springBeans
.recommenders/
.idea/
*.iml